<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册:填写基本信息</title>
    <meta name="renderer" content="webkit">
    <meta name="description" content="建设方和施工方注册step3——填写基本信息">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../node_modules/layui-src/src/css/layui.css">
    <link rel="stylesheet" href="../page/commonStyle/commonCss.css">
    <link rel="stylesheet" href="../page/user-login/uers-login.css">
    <style>
        label.layui-form-label{
            text-align:left;
        }
        div.layui-input-inline{
            width:400px!important;
        }
    </style>
</head>
<body>
<script src="../../node_modules/layui-src/src/layui.js"></script>
<script src="../page/commonJs/layui.js"></script>
<script type="text/javascript" src="../page/commonJs/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../page/commonJs/jquery.min.js"></script>
<script type="text/javascript" src="../page/user-register/com-register.js"></script>
<script type="text/javascript" src="../page/commonJs/bootstrap.min.js"></script>
<!--建设方和施工方的注册step3-->
<div class="centerBox" style="position: center;width:1200px;">
    <!--<div class="centerBox" style="width:670px; height: 450px; border: 1px solid #c2c2c2" >-->
    <h1 style="text-align: center; margin-top: 10px">注 册</h1>
    <form class="layui-form" action="" id="register2s2form">
        <!--定义标题-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
            <legend>Step3:填写企业基本信息</legend>
        </fieldset>
        <div style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-row layui-col-space15">
                <form class="layui-form" action="" id="companyUser">
                    <div class="layui-form-item">
                        <label class="layui-form-label">企业名称</label>
                        <div class="layui-input-inline" >
                            <input type="text" name="companyName" id="companyName"lay-verify="companyName" autocomplete="off" placeholder="请输入企业名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item"style="width: 1000px;padding-top: 0;padding-bottom: 0">
                    <div class="layui-inline">
                        <label class="layui-form-label">选择经济类型</label>
                        <div class="layui-input-inline"style="margin-top: 10px">
                            <select name="companyEcotype"id="companyEcotype" lay-verify="companyEcotype" lay-search="">
                                <option value="0">直接选择或搜索选择</option>
                                <option value="无">无</option>
                                <option value="有限责任">有限责任</option>
                                <option value="有限公司（自然人控股）">有限公司（自然人控股）</option>
                                <option value="股份制经济">股份制经济</option>
                                <option value="股份有限公司（上市、自然人投资或控股）">股份有限公司（上市、自然人投资或控股）</option>
                                <option value="其他股份有限公司（上市）">其他股份有限公司（上市）</option>
                                <option value="合伙">合伙</option>
                                <option value="集体所有制（股份合作）">集体所有制（股份合作）</option>
                                <option value="联营经济">联营经济</option>
                                <option value="港澳台投资经济">港澳台投资经济</option>
                                <option value="国有经济">国有经济</option>
                                <option value="有限公司（法人独资）私营">有限公司（法人独资）私营</option>
                                <option value="股份有限公司（非上市、自然人投资或控股）">股份有限公司（非上市、自然人投资或控股）</option>
                                <option value="股份有限公司（港澳台与境内合资、上市）">股份有限公司（港澳台与境内合资、上市）</option>
                                <option value="其他股份有限公司（非上市）">其他股份有限公司（非上市）</option>
                                <option value="普通合伙">普通合伙</option>
                                <option value="集体经济">集体经济</option>
                                <option value="外商投资经济">外商投资经济</option>
                                <option value="国营企业">国营企业</option>
                                <option value="其他经济">其他经济</option>
                                <option value="有限公司">有限公司</option>
                                <option value="有限公司（法人独资）内资">有限公司（法人独资）内资</option>
                                <option value="股份有限公司（非上市、国有控股）">股份有限公司（非上市、国有控股）</option>
                                <option value="股份有限公司（港澳台合资、未上市）">股份有限公司（港澳台合资、未上市）</option>
                                <option value="个人独资">个人独资</option>
                                <option value="全民所有制">全民所有制</option>
                                <option value="个体经济">个体经济</option>
                                <option value="与港澳台合作经济">与港澳台合作经济</option>
                                <option value="私营企业">私营企业</option>
                            </select>
                        </div>
                    </div>
                    </div>
                    <div class="layui-form-item"style="width: 1000px;">
                        <div class="layui-inline">
                            <label class="layui-form-label">设置密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="companyPassword" id="companyPassword" lay-verify="password" autocomplete="off"placeholder="请输入您的密码" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
                        </div>
                    </div>
                    <div class="layui-form-item"style="width: 1000px;">
                    <div class="layui-inline">
                        <label class="layui-form-label">确认密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="passwordConfirm" id="passwordConfirm" lay-verify="passwordConfirm" autocomplete="off"placeholder="请再次输入您的密码" class="layui-input">
                        </div>
                    </div>
                    </div>
                    <div class="layui-form-item" style="width: 1500px;">
                        <label class="layui-form-label">注册地址</label>

                        <div class="layui-inline">
                            <div class="layui-input-inline"style="width: 190px!important;">
                                <input type="text" name="companyProvince"  id="companyProvince"lay-verify="address" autocomplete="off"placeholder="省" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline"style="width: 190px!important;">
                                <input type="text" name="companyCity"  id="companyCity"lay-verify="address" autocomplete="off"placeholder="市" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline"style="width: 190px!important;">
                                <input type="text" name="companyDistrict" id="companyDistrict" lay-verify="address" autocomplete="off"placeholder="县(区)" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline"style="width: 190px!important;">
                                <input type="text" name="companyStreet" id="companyStreet" lay-verify="address" autocomplete="off"placeholder="路(道、巷、乡、镇)" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline"style="width: 190px!important;">
                                <input type="text" name="companyDetailed" id="companyDetailed" lay-verify="address" autocomplete="off"placeholder="号(村)" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item"style="padding-top: 0;padding-bottom: 0">
                            <label class="layui-form-label">统一社会信用代码</label>
                            <div class="layui-input-inline"style="margin-top: 10px">
                                <input type="text" name="companyOrgcode" id="companyOrgcode" lay-verify="orgcode" autocomplete="off"placeholder="必填项" class="layui-input">
                            </div>
                        </div>
                    <div class="layui-form-item"style="padding-top: 0;padding-bottom: 0">
                        <div class="layui-inline">
                            <label class="layui-form-label">企业法定代表人</label>
                            <div class="layui-input-inline"style="margin-top: 10px">
                                <input type="text" name="companyLegaler" id="companyLegaler" lay-verify="personalName" autocomplete="off"placeholder="必填项" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item"style="padding-top: 0;padding-bottom: 0">
                    <div class="layui-inline">
                        <label class="layui-form-label">法定代表人移动电话</label>
                        <div class="layui-input-inline"style="margin-top: 10px">
                            <input type="tel" name="legalerPhone" id="legalerPhone" lay-verify="phone" autocomplete="off"placeholder="必填项" class="layui-input">
                        </div>
                    </div>
                    </div>
                    <div class="layui-form-item"style="padding-top: 0;padding-bottom: 0">
                        <div class="layui-inline">
                            <label class="layui-form-label">企业联系人</label>
                            <div class="layui-input-inline">
                                <input type="text" name="companyContracter" id="companyContracter" lay-verify="personalName" autocomplete="off"placeholder="必填项" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item"style="padding-top: 0;padding-bottom: 0">
                    <div class="layui-inline">
                        <label class="layui-form-label">企业联系人移动电话</label>
                        <div class="layui-input-inline"style="margin-top: 10px">
                            <input type="tel" name="contracterPhone"id="contracterPhone"  lay-verify="phone" autocomplete="off"placeholder="必填项" class="layui-input">
                        </div>
                    </div>
                    </div>
                    <div class="layui-form-item">
                            <label class="layui-form-label">密保问题</label>
                            <div class="layui-input-inline">
                                <input type="text" name="companyQuestion"  id="companyQuestion"autocomplete="off"placeholder="选填" class="layui-input">
                            </div>
                    </div>
                    <div class="layui-form-item">

                            <label class="layui-form-label">密保答案</label>
                            <div class="layui-input-inline">
                                <input type="text" name="companyAnswer"    id="companyAnswer"lay-verify="answer"autocomplete="off"placeholder="选填" class="layui-input">
                            </div>
                    </div>
                    <div class="layui-form-item" style="margin-left:40px;margin-top: 0px" >
                        <div class="layui-input-block checkbox i-checks" style="margin-left:40px;margin-top: 0px" >
                            <input type="checkbox" name="Agreement" lay-skin="primary" style="margin-left:40px;margin-top: 0px" >我同意<a href="https://www.baidu.com/" target="_blank">注册协议</a>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn"  lay-filter="demo1" style="margin-left: 0px" onclick="s2last()">上一步</button>
                            <a class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</a>
<!--                            <a class="layui-btn" onclick="test()">测试</a>-->
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <p class="text-muted text-center" style="margin-left: 260px">
                            <small id="loginSmall">已经有账户了？</small><a href="login.html">点此登录</a></p>
                    </div>
                </form>
            </div>
        </div>
    </form>
</div>

</body>

</html>