<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


</head>
<body>
    <script src="../page/commonJs/index.js"></script>

<div class="list-main-content over-hidden" style="position:absolute;left: 180px;top: 200px;margin-bottom: 75px" id="serach_div">
    <div class="list-ll-b">
        <div class="edit_option">
            <h5 class="list-llb-title">
                <span class="fl">通知公告</span>
                <a class="fr" href="http://jzsc.mohurd.gov.cn/asite/jsbpp/jsp/news_list.jsp">更多>></a>
            </h5>
            <div class="list-llb-box">
                <ul class="list-llb-s">
                    <li class="list-llb-list" title=关于批准2019年第十批建设工程企业资质延续的通知>
                        <!--置顶-->
                        <a target="_blank" href="http://www.mohurd.gov.cn/wjfb/201906/t20190624_240959.html">
                            <span class="list-llb-text"><em style="font-style: normal;color:#bc0102">【置顶】</em>关于批准2019年第十批建设工程企业资质延续的通知</span>
                            <em class="fr list-date-a">[2019.06.24]</em>
                        </a>
                    </li>
                    <li class="list-llb-list" title=关于2019年第十二批申请勘察设计注册工程师
                        初始注册审查意见的公示>

                        <a target="_blank" href="http://www.mohurd.gov.cn/wjfb/201906/t20190624_240960.html">
                            <span class="list-llb-text">关于2019年第十二批申请勘察设计注册工程师初始注册审查意见的公示</span>
                            <em class="fr list-date-a">[2019.05.24]</em>
                        </a>
                    </li>
                    <li class="list-llb-list" title=关于2019年第十二批申请监理工程师初始注册审查意见的公示>
                        <a target="_blank" href="http://www.mohurd.gov.cn/wjfb/201906/t20190624_240961.html">
                            <span class="list-llb-text">关于2019年第十二批申请监理工程师初始注册审查意见的公示</span>
                            <em class="fr list-date-a">[2019.06.24]</em>
                        </a>
                    </li>
                    <li class="list-llb-list" title=住房和城乡建设部关于2019年第十八批一级建造师注册人员名单的公告>

                        <a target="_blank" href="http://www.mohurd.gov.cn/wjfb/201906/t20190624_240952.html">
                            <span class="list-llb-text">住房和城乡建设部关于2019年第十八批一级建造师注册人员名单的公告</span>
                            <em class="fr list-date-a">[2019.06.24]</em>
                        </a>
                    </li>
                    <li class="list-llb-list" title=关于建筑业企业资质告知承诺审批意见的公示>
                        <!--置顶-->
                        <a target="_blank" href="http://www.mohurd.gov.cn/wjfb/201906/t20190621_240937.html">
                            <span class="list-llb-text">关于建筑业企业资质告知承诺审批意见的公示</span>
                            <em class="fr list-date-a">[2019.06.21]</em>
                        </a>
                    </li>
                    <li class="list-llb-list" title=2018年全国工程勘察设计统计公报>

                        <!--置顶-->
                        <a target="_blank" href="http://www.mohurd.gov.cn/xytj/tjzljsxytjgb/tjxxtjgb/201906/t20190621_240943.html">
                            <span class="list-llb-text">2018年全国工程勘察设计统计公报</span>
                            <em class="fr list-date-a">[2019.06.21]</em>
                        </a>
                    </li>
                    <li class="list-llb-list" title=关于建设工程企业资质专家审查意见的公示>

                        <a target="_blank" href="http://www.mohurd.gov.cn/wjfb/201906/t20190605_240758.html">
                            <span class="list-llb-text">关于建设工程企业资质专家审查意见的公示</span>
                            <em class="fr list-date-a">[2019.06.05]</em>
                        </a>
                    </li>
                    <li class="list-llb-list" title=关于批准2019年第九批建设工程企业资质延续的通知>

                        <a target="_blank" href="http://www.mohurd.gov.cn/wjfb/201906/t20190604_240747.html">
                            <span class="list-llb-text">关于批准2019年第九批建设工程企业资质延续的通知</span>
                            <em class="fr list-date-a">[2019.06.04]</em>
                        </a>
                    </li>
                    <li class="list-llb-list" title=河南省开展建筑工程专项治理行动 打击施工发包与承包违法行为>

                        <!--置顶-->
                        <a target="_blank" href="http://www.mohurd.gov.cn/dfxx/201905/t20190528_240687.html">
                            <span class="list-llb-text">河南省开展建筑工程专项治理行动打击施工发包与承包违法行为</span>
                            <em class="fr list-date-a">[2019.05.28]</em>
                        </a>
                    </li>
                    <li class="list-llb-list" title=河南3个月全面排查工程建设领域“挂证”行为>

                        <a target="_blank" href="http://www.mohurd.gov.cn/dfxx/201905/t20190527_240682.html">
                            <span class="list-llb-text">河南3个月全面排查工程建设领域“挂证”行为</span>
                            <em class="fr list-date-a">[2019.05.27]</em>
                        </a>
                    </li>
                    <li class="list-llb-list" title=辽宁营口推广使用建筑工人实名制系统>

                        <a target="_blank" href="http://www.mohurd.gov.cn/dfxx/201904/t20190430_240432.html">
                            <span class="list-llb-text">辽宁营口推广使用建筑工人实名制系统</span>
                            <em class="fr list-date-a">[2019.05.27]</em>
                        </a>
                    </li>

                </ul></div>
        </div>
    </div>
</div>
<div class="layui-carousel" id="test10" lay-filter="test4" style="position:absolute;left:742px;top: 200px;height: 400px !important;">
    <div carousel-item="" >
        <div><img src="../images/form_1.jpg" height="350" width=550></div>
        <div><img src="../images/form_2.jpg" height="350" width="550"></div>
        <div><img src="../images/form_3.jpg" height="350" width="550"></div>
        <div><img src="../images/form_4.jpg" height="350" width="550"></div>
        <div><img src="../images/form_5.jpg" height="350" width="550"></div>
    </div>
</div>
<div class="list-ll-b"  style="position:absolute;left: 742px;top: 600px;height: 350px;">
    <div class="edit_option">
        <h5 class="list-llb-title">
            <span class="fl">政策文件</span>
            <a class="fr" href="http://jzsc.mohurd.gov.cn/asite/jsbpp/jsp/news_list.jsp">更多>></a>
        </h5>
    </div>
    <div class="list-llb-box">
        <ul class="list-llc-two">
            <div class="edit_option">
                <li class="text-over" title=住房和城乡建设部办公厅关于徐州汉源建设集团有限公司等182家建设工程企业资质申报弄虚作假行为的通报>
                    <a target="_blank" href="http://www.mohurd.gov.cn/wjfb/201906/t20190603_240742.html">住房和城乡建设部办公厅关于徐州汉源建设集团有限公司等182家...</a>
                </li>

                <li class="text-over" title=住房和城乡建设部办公厅关于同意北京市提高监理工程师职业资格考试报名条件试点的复函>
                    <a target="_blank" href="http://www.mohurd.gov.cn/wjfb/201905/t20190527_240683.html">住房和城乡建设部办公厅关于同意北京市提高监理工程师职业资格考试报...</a>

                </li>
                <li class="text-over" title=住房和城乡建设部办公厅关于江西省住房和城乡建设厅推行电子证照的复函>
                    <a target="_blank" href="http://www.mohurd.gov.cn/wjfb/201904/t20190430_240423.html">住房和城乡建设部办公厅关于江西省住房和城乡...</a>

                </li>
                <li class="text-over" title=住房和城乡建设部办公厅关于四川巴蜀水利工程有限公司等5家建设工程企业采用告知承诺制申报弄虚作假行为的通报>
                    <a target="_blank" href="http://www.mohurd.gov.cn/wjfb/201904/t20190409_240121.html">住房和城乡建设部办公厅关于四川巴蜀水利工程有限公司...</a>

                </li>
                <li class="text-over" title=住房和城乡建设部办公厅关于实行建筑业企业资质审批告知承诺制的通知>
                    <a target="_blank" href="http://www.mohurd.gov.cn/wjfb/201903/t20190329_239951.html">住房和城乡建设部办公厅关于实行建筑业企业资质...</a>

                </li>
                <li class="text-over" title=关于印发住房和城乡建设部建筑市场监管司2019年工作要点的通知>
                    <a target="_blank" href="http://www.mohurd.gov.cn/wjfb/201903/t20190326_239912.html">关于印发住房和城乡建设部建筑市场监管司2019年工作要点的通知</a>

                </li>
            </div>
        </ul>
    </div>
</div>

</body>
</html>
