<div class="footer-a" style="position:absolute;left:180px;top: 1000px;">
    <div>
        <div class="footer-b">
            <ul class="footer-main">
                <li class="footer-main-a">
                    <h5>联系我们</h5>
                    <p>Tel : 130-6007-6906</p>
                    <p>E-mail : 1009122393@qq.com</p>
                    <p>成都市双流县川大路 四川大学江安校区 邮编：610207</p>
                </li>

                <li class="footer-main-b" style="padding-left: 0">
                    <h5 s>技术支持</h5>
                    <div class="edit_option" >
                        <div class="footer-main-box">
                            <a href="index.html">CPMIP项目组</a>
                        </div>
                    </div>
                </li >
                <li class="footer-main-c">
                    <h5>微信公众号</h5>
                    <div class="edit_option">
                        <div class="edit_cz"><a href="javascript:void(0)" onclick="parent.edit('NC','08')">编辑</a> </div>
                        <div class="footer-main-boxs">
                            <a><img src="../images/QR_Code.jpg" alt=""></a>
                            <!--<a href="http://metc.scu.edu.cn/"><img src="http://jwc.scu.edu.cn/upload/1524036485943icon7.jpg" alt=""></a>-->
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="edit_option">
        <div class="edit_cz"><a href="javascript:void(0)" onclick="parent.edit('BQ','09')">编辑</a> </div>

        <div class="footer-bottom"><div>
            <div>CPMIP项目组 版权所有</div>
        </div></div>
    </div>
</div>
