<div class="list-main">

    <div class="list-a-logo fl"style="position:relative;"><a href="index.html"><img src="../images/logo.png" style="width:800px;height: 140px; " alt=""></a></div>
    <div style="position:relative;float:right;margin-top:80px;display:inline-block;"class="layui-breadcrumb" lay-separator="|" >
        <a href="personal.html">个人中心</a>
        <a href="index.html">注销</a>
    </div>
</div>
<br><br><br>
<!--导航开始-->
<div class="nav_a">
    <div class="nav_b">
        <div class="nav_c_index"><a href="index_.html">首页</a></div>
        <div class="nav_c_page">
            <ul class="nav_d">
                <li class="nav_e_main">
                    <a class="nav_f_title" href="startupFiling.html" target="_self">工程报监</a>
                </li>
                <li class="nav_e_main">
                    <a class="nav_f_title" href="competitionFiling.html" target="_self">竣工备案</a>
                </li>
                <li class="nav_e_main">
                    <a class="nav_f_title" href="projectControl.html" target="_self">工程监督</a>
                </li>
                <li class="nav_e_main">
                    <a class="nav_f_title" href="safetyAccidentReport.html" target="_self">安全事故报告</a>
                </li>
                <li class="nav_e_main">
                    <a class="nav_f_title" href="qualityAccidentReport.html" target="_self">质量事故报告</a>
                </li>
                <li class="nav_e_main">
                    <a class="nav_f_title" href="todo.html" target="_self">资料管理</a>
                </li>
                <li class="nav_e_main">
                    <a class="nav_f_title" href="todo.html" target="_self">费用管理</a>
                </li>
                <li class="nav_e_main">
                    <a class="nav_f_title" href="article.html" target="_self">信息发布</a>
                </li>
                <li class="nav_e_main">
                    <a class="nav_f_title" href="qualityComplaints_list.html" target="_self">质量投诉</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<!--导航结束-->
<script>
    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>
</div>