<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../page/commonStyle/commonCss.css">
    <link rel="stylesheet" href="../page/index/layui/css/layui.css">
    <link rel="stylesheet" href="../page/user-login/uers-login.css">
    <!--<script src="../page/commonJs/animation.js"></script>-->

</head>
<body>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="../page/index/layui/layui.js"></script>
    <script src="../page/commonJs/layui.js"></script>
    <script src="../page/user-login/user-login.js"></script>
    <script>
        var formData = {
            username:$.trim($('#username').val()),
            password:$.trim($('#password').val())
        };
        function postMyform(){
            $.post("http://www.cpmip.cn/com_user/login.do",
                {
                    username:"红丝绒建有限公司",
                    password:"1256"
                },
                function(data,status){
                    alert("数据: \n" + data.msg + "\n状态: " + data.status);
                });
        }
    </script>
    <script>
        function forgetPassword() {
            alert("你自裁吧");
        }
    </script>
    <div class="centerBox" style="width:670px; height: 450px; border: 1px solid #c2c2c2" >
    <h1 style="text-align: center; margin-top: 10px">登 录</h1>
    <form class="layui-form" >

        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <select name="interest" lay-filter="aihao" lay-verify="required" lay-reqtext="请选择角色" >
                    <option value=""></option>
                    <option value="0">建设方</option>
                    <option value="1">施工方</option>
                    <option value="2">质量监督管理部门</option>
                    <option value="3">住建部门</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input type="text" id="username" lay-verify="required" lay-reqtext="请输入账号" placeholder="请输入" autocomplete="off" class="layui-input user-content">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" id="password" lay-verify="required" lay-reqtext="请输入密码" placeholder="请输入" autocomplete="off"  class="layui-input user-content">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">验证码</label>
            <div class="layui-input-block">
                <input type="text" id="CAPTCHA" lay-verify="required" lay-reqtext="请输入验证码" placeholder="请输入" autocomplete="off"  class="layui-input user-content">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="checkbox" name="like[write]" title="记住我">
                <a href="#" class="forgetPassword" onclick="forgetPassword()">忘记密码？</a>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <!--<button class="layui-btn" id="submit" lay-submit="" lay-filter="demo1">登 录</button>-->
                <a class="layui-btn" id="submit" onclick="postMyform()">登 录</a>
            </div>
        </div>
    </form>
    </div>
</body>
</html>
