<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
    <!--<link rel="stylesheet" href="../page/commonStyle/commonCss.css">-->
    <!--<link rel="stylesheet" href="../../node_modules/layui-src/src/css/layui.css">-->
    <!--<link rel="stylesheet" href="../asset/index/index.css">-->
    <!--<link rel="stylesheet" href="../asset/index/index_base.css">-->
    <!--<link rel="stylesheet" href="../asset/index/index_style.css">-->



<!--</head>-->
<!--<body>-->
<!--<script src="../../node_modules/layui-src/src/layui.js"></script>-->

<!--<script src="../page/personal/personal.js"></script>-->
<!--<div >-->
    <!--<div  style="display:inline-block;position: absolute;left: 170px;">-->
        <!--<a href="index.html">-->
            <!--<img src="../images/logo_1.png" alt="">-->
        <!--</a>-->
    <!--</div>-->
<!--</div>-->
<!--<div style="float:left;left: 170px;position:absolute;top: 70px;">-->
    <!--<ul class="layui-nav layui-bg-cyan">-->
        <!--<li class="layui-nav-item"><a href="index.html">首页</a></li>-->
        <!--<li class="layui-nav-item"><a href="todo.html">工程报监</a></li>-->
        <!--<li class="layui-nav-item"><a href="todo.html">竣工备案</a></li>-->
        <!--<li class="layui-nav-item"><a href="todo.html">工程监督</a></li>-->
        <!--<li class="layui-nav-item"><a href="todo.html">资料管理</a></li>-->
        <!--<li class="layui-nav-item"><a href="todo.html">事故报告</a></li>-->
        <!--<li class="layui-nav-item"><a href="todo.html">费用管理</a></li>-->
        <!--<li class="layui-nav-item"><a href="todo.html">信息发布</a></li>-->
        <!--<li class="layui-nav-item" ><a href="todo.html">质量投诉</a></li>-->
    <!--</ul>-->
<!--</div>-->
<!--<table class="layui-hide" id="demo"></table>-->



<!--</body>-->
<!--</html>-->
