<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <meta name="keywords" content="CPMIP注册">
    <meta name="description" content="注册Step1">
    <link rel="stylesheet" href="../page/commonStyle/commonCss.css">
    <link rel="stylesheet" href="../../node_modules/layui-src/src/css/layui.css">
    <link rel="stylesheet" href="../page/user-login/uers-login.css">
</head>
<body>
<script src="../../node_modules/layui-src/src/layui.js"></script>
<script src="../page/commonJs/layui.js"></script>
<script type="text/javascript" src="../page/commonJs/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../page/commonJs/jquery.min.js"></script>
<script type="text/javascript" src="../page/user-register/user-register.js"></script>

<div class="centerBox" style="width:670px; height: 450px; border: 1px solid #c2c2c2" >
    <h1 style="text-align: center; margin-top: 10px">注 册</h1>
    <form class="layui-form" action="" id="registers1form" method="post">
        <!--定义标题-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
            <legend>Step1:选择用户角色</legend>
        </fieldset>
        <!--选择角色-->
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left: 100px">
                <input type="radio" name="role" value="建设单位" title="建设单位">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left: 100px">
                <input type="radio" name="role" value="施工单位" title="施工单位">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left: 100px">
                <input type="radio" name="role" value="质量监督管理部门" title="质量监督管理部门">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left: 100px">
                <input type="radio" name="role" value="住建部门" title="住建部门">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <a class="layui-btn"  style="margin-left: 300px" onclick="s1next()">下一步</a>
            </div>
        </div>
    </form>
</div>
</body>

</html>