body{
		font-family:"Arial","Microsoft YaHei","黑体","宋体","sans-serif";
		-ms-user-select:none;
}
body a{
cursor:pointer;text-decoration:none;
}
.aboluo-w-700{
	width:700px;
	height:400px;
	margin:50px auto;
	padding:30px auto;	
}
.aboluo-leftdiv{
	position:relative;
	float:left;
	width:70%;
	height:100%;
	border:2px solid #6cd3fb;
}
/*.aboluo-rightdiv{*/
	/*width:20%;*/
	/*height:100%;*/
	/*background:#6cd3fb;*/
	/*border:2px solid #6cd3fb;*/
/*}*/
.aboluo-tools{
	position:relative;
	line-height:10px;
	height:9%;
	padding:10px;
	/*border-bottom:#d0f7fd solid 1px;*/
}
.aboluo-rilidiv{
	position:relative;
	width:100%;
	height:89%;
	padding-left:2%;
	padding-right:2%;
}

.aboluo-calendar-select-year{
	margin-left: 143px;
	width:14%;float:left;}
.aboluo-calendar-select-year select {
	width:100%;}
.aboluo-calendar-month{
	position: relative;
	width:10%;float:left;margin-left:20px;line-height: 10px;}
.aboluo-month-a-perv{
	position: absolute;
	display: block;
	left: -265px;
	top:0;
	z-index: 10;
}
.aboluo-month-a-next{
	position: absolute;
	display: block;
	right:-265px;
	top:0;
	z-index: 10;
}
.aboluo-calendar-month a{
	width: 40px;
	height: 40px;
	line-height: 25px;
	text-align: center;
	font-size:36px;text-align:center;color:#d6d6de;text-decoration:none;}
.aboluo-calendar-month a:hover{
	color: #0066cb;
}
.aboluo-calendar-month select{
	width:100%;}
.aboluo-tools .aboluo-toToday{
	width:20%;border:1px solid #f5f5f5;margin-left:15px;margin-top:0;color:#b7b7b7;background:#ffffff;height: 30px;vertical-align: top}
.aboluo-tools .aboluo-toToday:hover{
	border:1px solid #1a8cff;}
.aboluo-rilitable{
	width:96%;text-align:center;hegiht:100%;padding-top:5px;}
.aboluo-rilitable .aboluo-rilithead{
	border-bottom: 1px solid #e3e4e6;}
.aboluo-rilidiv .aboluo-rilitable tr{
	width:100%;}
.aboluo-rilidiv .aboluo-rilitable tr th{
	line-height: 50px;
	width:14.2%;font-size:16px;}
.aboluo-rilidiv .aboluo-rilitable tr td{
	width:14.2%;font-size:20px;color:#000000;}
.aboluo-rilidiv .aboluo-rilitable tr .aboluo-currToday{
	border-radius: 50%;
background:#0066cb;color:#FFFFFF;}
.aboluo-rilidiv .aboluo-rilitable tr .aboluo-tdcurrToday{
background:#fff;color:#FFFFFF;}
.aboluo-rilidiv .aboluo-rilitable tr td a{
	height:72px!important;
	line-height: 72px!important;
	font-size:24px;color:#000000;display:block;margin:auto;position:relative;}
.aboluo-rilidiv .aboluo-rilitable .aboluo-td-a-ban{
	font-size:13px;position:absolute;text-align:left;line-height:14px;text-indent:1px;width:15px;display:block;background:#969799;height:15px;color:#fff;overflow:hidden;top:0px;left:0px;}
.aboluo-rilidiv .aboluo-rilitable .aboluo-td-a-xiu{
	font-size:13px;position:absolute;text-align:left;line-height:14px;text-indent:1px;width:15px;display:block;background:#f43;height:15px;color:#fff;overflow:hidden;top:0px;left:0px;}
.aboluo-rilidiv .aboluo-rilitable tr td a:hover{
	color: #fff;
	background: #FFBB00;
	border-radius:50%;}
.aboluo-rilidiv .aboluo-rilitable tr td .aboluo-aclick{
	color: #fff;
	background: #FFBB00;
	border-radius:50%;}
.aboluo-rilidiv .aboluo-rilitable .aboluo-rilitbody .aboluo-pervMonthDays{
	color:#BFBFC5;
}
.aboluo-rilidiv .aboluo-rilitable .aboluo-rilitbody .aboluo-nextMonthDays{
	color:#BFBFC5;
}
/*.aboluo-rightdiv p{ */
	/*color:#FFFFFF;margin:10px auto;*/
/*}*/
/*.aboluo-rightdiv .aboluo-xssj span{ */
	/*margin-left:5px;*/
/*}*/
/*.aboluo-rightdiv .aboluo-currday{*/
	/*width:60%;height:20%;margin:auto;text-align:center;background:#FFBB00;font-size:50px;*/
/*}*/
/* 代码整理：懒人之家 www.lanrenzhijia.com */
